$base-color: #00ADB5;
$focus-color: #00747C;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.mainTop{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    // margin-left: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    &::before {
        content: "";
        width: 30%;
        margin-right: 2%;
        height: 1px;
        background-color: $focus-color;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }
    
    &::after {
        content: "";
        width: 30%;
        margin-left: 2%;
        height: 1px;
        background-color: $focus-color;
        // transition: width 400ms 0 200ms;

        @media screen and (max-width: 500px) {
            margin-left: 5%;
        }

    }
}

.mainBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;

    & .ContactContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & * {
            margin-bottom: .5rem;
        }

        color: white;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid $base-color;
        border-radius: 1rem;
    }
}