$base-color: #00ADB5;
$focus-color: #00747C;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mainTop{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    // margin-left: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    @media screen and (max-width: 530px) {
        flex-direction: column;
    }

    &::before {
        content: "";
        width: 30%;
        margin-right: 2%;
        height: 1px;
        background-color: $focus-color;

        @media screen and (max-width: 530px) {
            display: none;
        }
    }
    
    &::after {
        content: "";
        width: 30%;
        margin-left: 2%;
        height: 1px;
        background-color: $focus-color;

        @media screen and (max-width: 530px) {
            margin-top: 0.4rem;
            width: 13rem;
            margin-left: 0%;
        }

    }
}

.mainBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    @media screen and (max-width: 680px) { 
        width: 50vw;
    }
    & .ContactContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 10rem;

        & * {
            margin-bottom: .5rem;
        }

        color: white;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid $base-color;
        border-radius: 1rem;
    }
}