.main {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    * {
        color: #ffffff;
        text-decoration: none;
    };
    p {
        font-size: 1.25rem;
    }
}

.buttonsArea {
    display: flex;
    align-items:center;
    flex-direction: row;
    
    * {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        &::after {
            content:"";
            position: absolute;
            background: radial-gradient(circle, rgb(242, 204, 143) 1%, rgba(242, 204, 143, 0.6250875350140056) 40%, rgba(164, 22, 26,0) 100%);
            box-shadow: 0px 0px 30px #F2CC8F;
            width: 0%;
            margin-top: 2rem;
            height: .1rem;
            transition: width 200ms;
        }
        &:hover {
            color: #F2CC8F;
            transition: color 400ms;
            &:hover::after {
                width: 130%;
                transition: width 300ms;
            }
        };
    };
    }