// $base-color: #F2CC8F;
// $focus-color: #ac9167;
$base-color: #00ADB5;
$focus-color: #00747C;

.main {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    // background: rgba(0, 0, 0, 0.062);
    // backdrop-filter: blur(15px);
    // -webkit-backdrop-filter: blur(10px);
    
    z-index: 2;
    * {
        color: #ffffff;
        text-decoration: none;
    };

    
    & div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        & button {
            display: none;
        }
        
        & p {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            font-size: 1.5rem;
            &::after{
                content:"";
                position: absolute;
                // background: radial-gradient(circle, rgb(242, 204, 143) 1%, rgba(242, 204, 143, 0.6250875350140056) 40%, rgba(164, 22, 26,0) 100%);
                width: 125%;
                margin-top: 2.5rem;
                height: .1rem;
            }
        }
        
        @media screen and (max-width: 700px) {
            width: 100%;
        }

        @media screen and (max-width: 560px) {
            & button {
                display: flex;
                border: 0;
                margin-left: 2rem;
            }
            justify-content: space-around;
        }
}

}

.buttonsArea {
    display: flex;
    align-items:center;
    flex-direction: row;
    font-size: 1rem;
    z-index: 2;
    overflow: hidden;
    transition: max-height 300ms ease-in;

    
    & * {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        transition: background-color 200ms;
        &::after {
            content:"";
            position: absolute;
            background-color: $base-color;
            // background: radial-gradient(circle, rgb(242, 204, 143) 1%, rgba(242, 204, 143, 0.6250875350140056) 40%, rgba(164, 22, 26,0) 100%);
            // box-shadow: 0px 0px 30px #F2CC8F;
            width: 0%;
            margin-top: 1.5rem;
            height: .05rem;
            transition: width 200ms;
        }
        &:hover {
            color: $base-color;
            transition: color 200ms;
            &:hover::after {
                width: 110%;
                transition: width 200ms;
            }
        };
        &:active {
            color: $focus-color;
        };
    };


    @media screen and (max-width: 560px) {
        position: sticky;
        flex-direction: column;
        max-height: 0;
        & * {
            margin-top: 1rem;
        }
    }
}

.show {
    max-height: 200px;
    transition: max-height 300ms ease-in;
}