.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    color: white;

    & div {
        z-index: 2;
    }

    & .part1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin-left: 10%;
        // background-color: red;
        
        & button {
            border-color: #00ADB5;
            color: #00ADB5;
            margin-top: 1.5rem;
            margin-right: 2rem;
        }

        & div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
    };
}