$base-color: #00ADB5;
$focus-color: #00747C;
$skill-background-color: #171b20;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    
    & .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;

        & .leftSide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
         
        & .rightSide {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            height: auto;
        }
    }
}

.Title{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    // margin-left: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    &::before {
        content: "";
        width: 30%;
        margin-right: 2%;
        height: 1px;
        background-color: $focus-color;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }
    
    &::after {
        content: "";
        width: 30%;
        margin-left: 2%;
        height: 1px;
        background-color: $focus-color;
        // transition: width 400ms 0 200ms;

        @media screen and (max-width: 500px) {
            margin-left: 5%;
        }

    }
}

.projectComponentContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
    max-width: 20rem;
    min-width: 18rem;
    padding-bottom: 1rem;
    height: auto;
    color: white;
    background-color:#4adce409;
    border-radius: .5rem;
    overflow: hidden;
}

.projectComponentContainer:hover{
    & * { 
        opacity: 100%; 
    }
}

.projectComponentImageContainer{
    display: flex;
    max-width: 100%;
    max-height: 10rem;
    background-color: #00747C;
}

.projectComponentImage{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    opacity: 70%;
    transition: opacity 200ms;
}